body, html {
  background-image: url(/images/background.jpg) ;
  background-repeat: no-repeat;
    background-size: 100% auto;
    height:100%;
}
h1 {
    color: blue;
}
p {
    color: orange;
}
footer {
    color: white;
    padding-top:10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(0,0,0,1);
    text-align: center;
}

div.footer(
  margin-top: -100px;
  height:100px

  )
